<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>The Idiot Company</title>
    <style>
      body {
        background-color: black;
        color: white;
        font-family: "Courier New", Courier, monospace;
      }
      h1,
      h2,
      h3 {
        text-align: center;
      }
      .idea {
        margin: 20px auto;
        padding: 10px;
        border: 2px dashed white;
        max-width: 600px;
      }
      .footer {
        text-align: center;
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <h1>The Idiot Company</h1>
    <h2>Smart enough to be kinda useful, dumb enough to be not viable sorta</h2>

    <div class="idea">
      <h3>Radio Anything</h3>
      <h4>What</h4>
      <p>This is an app that returns a random internet station and plays it</p>
      <h4>Why</h4>
      <p>
        I listen to music and podcasts all the time when I work. The issue is,
        because I consume so much of it, the algorithm has overfitted itself. I
        find myself listening to the same DJ set from Ultra or band at Coachella
        over and over again, simply because nothing new is showing up and i cant
        be arsed to search. With this, I have no control over what it decides to
        play me. If I like what its playing, it can continue, but if I don't,
        it's on to the next one.
      </p>
      <h4>Link</h4>
      <p>
        <a href="https://www.radioanything.com/">Radio Anything</a>
      </p>
    </div>

    <div class="footer">
      <p>© 2023 The Idiot Company.</p>
    </div>
  </body>
</html>
